<!doctype html>
<html>
  <head>
    <title>WhatsApp Verification</title>
  </head>
  <body>
    <h1>WhatsApp Verification</h1>
    <form id='verify_form' action='/employeeform' method="get">
      <label for="code">Verification code:</label>
      <input name="code" id="code" placeholder="123456" autofocus>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>