<html>
  <head>
    <meta charset='utf-8' />
    <title>SFI Example</title>
    <style>
      body {
        background-color: aliceblue;
        text-align: right;
      }
    </style>
  </head>
  <body>
    <form id='employee_form' action='/verify' method='get'>
      <label for='employee_id'>ת"ז:</label><br />
      <input type='text' id='employee_id' name='employee_id' /><br />

      <label for='phone'>טלפון:</label><br />
      <input type='text' id='phone' name='phone' /><br />

      <input type='submit' value='Submit' />
    </form>
  </body>
</html>